body {
	background-image: url("../images/background.jpg");
	font-family: 'Share Tech', monospace;
}

#press-to-start {
	color: white;
	font-size: 20px;
	margin-bottom: 10px;
}

#answer {
	font-size:40px;
	color: white;
}

#logo {
	display: block;
    margin: auto;
    width: 55%;
}

#HangmanImg {
	opacity: .5;
	width: 20%;
}

.games {
	color: white;
	font-size: 20px;
}

.turns {
	color: white;
}

#wrongGuesses {
	color: red;
	font-size: 26px;
	font-weight: bold;
}

footer {
	margin-top: 20px;
	text-align: center;
	color: white;
}

#credit {
	float: right;
	font-size: 10px;
	color: black;
}


/*media queries*/

@media screen and (max-width: 980px) {
	body {
		min-height: 100%
	}



/*Tablet*/
@media screen and (max-width: 768px) {
	body {
		min-height: 100%;
	}
}


/*phone*/
@media screen and (max-width: 640px) {
	body {
		min-height: 1000px;
	}

	#logo {
		width: 100%;

	} 

	nav {
		text-align: center;
		float: left;
	}

	nav a {
		padding-left: 93px;
	}

	footer {
		height: auto;
	}

}


/*smaller phone*/
@media screen and (max-width: 480px) {

}